<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns = "http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1">
<script type="text/javascript" src="lib/layui/layui.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/axios.min.js"></script>
<script type="text/javascript" src="lib/js/lodash.js"></script>
<script type="text/javascript" src="lib/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="lib/zTree_v3/js/jquery.ztree.all.min.js"></script>
<link rel="stylesheet" href="lib/device-manage.css">
<script>
    var ws = null;
    layui.config({
        base:'lib/js/'
    }).use('device-manage');
</script>

<head>
    <title>视频监控-设备管理</title>
</head>
<body>
<div id="nav" class="frs-nav">
    <label>主界面</label>
    <label>人脸注册</label>
    <label>统计查询</label>
    <label class="current">设备管理</label>
    <label>系统配置</label>
</div>
<div class="frs-device" id="deviceList">
    <div class="search">
        <p>设备列表</p>
        <div>
            <input v-model="value">
        </div>
    </div>
    <div class="device-tree">
        <ul id="deviceTree" class="ztree"></ul>
    </div>
</div>
<div class="frs-device-manage" id="device-manage">
    <div class="device-nav">
        <span v-if="showNav(0)" v-on:click="navClick(-1)"><p>Home</p></span>
        <span v-if="showNav(1)" v-on:click="navClick(cityIndex)"><p>{{deviceNodes[cityIndex].name}}</p></span>
        <span v-if="showNav(2)"><p>{{deviceNodes[cityIndex].children[courtIndex].name}}</p></span>

        <div class="device-nav-btn">
        <template v-if="showButton(0)">
            <button v-on:click="btnClick"><img src="lib/img/cogwheel.png">管理设备</button>
        </template>
        <template v-else-if="showButton(1)">
            <button v-on:click="btnClick">应用</button>
        </template>
        <template v-else>
            <button v-on:click="">添加</button>
            <button v-on:click="btnClick">应用</button>
        </template>
        </div>

    </div>
    <div class="device-site" v-if="showMode(0)" >
        <device-item :item="node" :mode="btnShowMode" v-for="(node,index) in showNodes" :key="index" v-on:change-interface="deviceClick(index)"></device-item>
        <span class="site-item site-item-add">

        </span>
    </div>
    <div class="device-camera" v-if="showMode(2)">

    </div>
</div>
</body>
<script>
    var deviceList=new Vue({
        el:"#deviceList",
        data:{
            value:"",
            setting:{
                edit:{
                    enable:true
                },
                view:{
                    showIcon:false,
                    showLine:false,
                    fontCss: getFontCss
                },
                callback:{

                }
            },
            deviceNodes:[
                { name:"喀什",
                    children: [
                        { name:"阳光小区 （1861人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01",
                                            ip:"rtsp://admin:admin12345@10.141.5.141:554/mpeg4"
                                        },
                                        {name:"Camera02",
                                            ip:"rtsp://admin:admin12345@10.141.5.142:554/mpeg4"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        },
                        { name:"惠民小区 （133人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01"},
                                        {name:"Camera02"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        }
                    ]},
                { name:"父节点2 - 折叠",
                    children: [
                        { name:"父节点21 - 展开",
                            children: [
                                { name:"叶子节点211"},
                                { name:"叶子节点212"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点214"}
                            ]},
                        { name:"父节点22 - 折叠",
                            children: [
                                { name:"叶子节点221"},
                                { name:"叶子节点222"},
                                { name:"叶子节点223"},
                                { name:"叶子节点224"}
                            ]},
                        { name:"父节点23 - 折叠",
                            children: [
                                { name:"叶子节点231"},
                                { name:"叶子节点232"},
                                { name:"叶子节点233"},
                                { name:"叶子节点234"}
                            ]}
                    ]},
                { name:"父节点3 - 没有子节点", isParent:true}
            ],
            preNodeList:null
        },
        watch:{
            value: function (newValue) {
                var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                zTree.expandAll(false);
                this.searchNode(newValue);
            }
        },
        methods: {
            searchNode:_.debounce(
                function (newValue) {
                    if (newValue === "") {
                        return;
                    }
                    var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                    var nodeList = zTree.getNodesByParamFuzzy("name", newValue);
                    if (nodeList.length > 0) {
                        if (this.preNodeList === null) {
                            this.preNodeList = nodeList;

                        } else {
                            for (var i = 0; i < this.preNodeList.length; i++) {
                                this.preNodeList[i].highlight = false;
                                zTree.updateNode(this.preNodeList[i]);
                            }
                            this.preNodeList = nodeList;
                        }
                        for (var i = 0; i < nodeList.length; i++) {
                            nodeList[i].highlight = true;
                            zTree.updateNode(nodeList[i]);
                            if (!nodeList[i].isParent) {
                                zTree.expandNode(nodeList[i].getParentNode(), true, false, true);
                            } else {
                                zTree.expandNode(nodeList[i], true, false, true);
                            }
                        }

                    }
                }, 300
            )
        }
    });


    function getFontCss(treeId, treeNode) {
        return (!!treeNode.highlight) ? {color:"#2fbb3e", "font-weight":"bold"} : {color:"#2fbb3e", "font-weight":"normal"};
    }

    $(document).ready(function(){
        $.fn.zTree.init($("#deviceTree"), deviceList.setting, deviceList.deviceNodes);
    });

    const deviceItem = {
        template:'<span class="site-item" v-on:click="changeInterface">\
        <span class="site-item-icon" v-show="showButton"></span>\
                <p>{{item.site}}</p>\
                <p>{{item.date}}</p>\
                <p>{{item.errorNumber}}错误&nbsp;&nbsp;{{item.offlineNumber}}离线</p>\
    </span>',
        props:['item','mode'],
        computed:{
            showButton:function () {
                if(this.mode === 1){
                    return true;
                }else{
                    return false;
                }
            }
        },
        methods:{
            changeInterface:function () {
                this.$emit('change-interface');
            }
        }
    };

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };

    var deviceManage = new Vue({
        el:"#device-manage",
        data:{
            deviceShowMode:0,
            btnShowMode:0,
            cityIndex:0,
            courtIndex:0,
            deviceNodes:[
                { name:"喀什",
                    children: [
                        { name:"阳光小区 （1861人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01",
                                            ip:"rtsp://admin:admin12345@10.141.5.141:554/mpeg4"
                                        },
                                        {name:"Camera02",
                                            ip:"rtsp://admin:admin12345@10.141.5.142:554/mpeg4"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        },
                        { name:"惠民小区 （133人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01"},
                                        {name:"Camera02"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        }
                    ]},
                { name:"乌鲁木齐",
                    children: [
                        { name:"乌鲁木齐小区 （1861人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01",
                                            ip:"rtsp://admin:admin12345@10.141.5.141:554/mpeg4"
                                        },
                                        {name:"Camera02",
                                            ip:"rtsp://admin:admin12345@10.141.5.142:554/mpeg4"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        },
                        { name:"惠民小区 （133人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01"},
                                        {name:"Camera02"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        }
                    ]},
                { name:"莎车",
                    children: [
                        { name:"莎车小区 （1861人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01",
                                            ip:"rtsp://admin:admin12345@10.141.5.141:554/mpeg4"
                                        },
                                        {name:"Camera02",
                                            ip:"rtsp://admin:admin12345@10.141.5.142:554/mpeg4"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        },
                        { name:"惠民小区 （133人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01"},
                                        {name:"Camera02"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        }
                    ]}
            ],
            showNodes:[
                {
                    site:"乌鲁木齐",
                    date:"2017-05-18",
                    errorNumber:2,
                    offlineNumber:2
                },
                {
                    site:"喀什",
                    date:"2017-05-18",
                    errorNumber:0,
                    offlineNumber:0
                },
                {
                    site:"莎车",
                    date:"2017-05-18",
                    errorNumber:1,
                    offlineNumber:0
                }
            ]
        },
        computed:{

        },
        methods:{
            navClick:function (num) {
                var date = new Date().Format('yyyy-MM-dd');
                this.showNodes.splice(0,this.showNodes.length);
                if(num === -1){
                    this.deviceShowMode = 0;
                    for(var i = 0;i<this.deviceNodes.length;i++){
                        var tmpNode = {
                            site:this.deviceNodes[i].name,
                            date:date,
                            errorNumber:2,
                            offlineNumber:1
                        };
                        this.showNodes.push(tmpNode);
                    }
                }else{
                    this.deviceShowMode = 1;
                    for(var i = 0;i<this.deviceNodes[num].children.length;i++){
                        var tmpNode = {
                            site:this.deviceNodes[num].children[i].name.split(' ')[0],
                            date:date,
                            errorNumber:2,
                            offlineNumber:1
                        };
                        this.showNodes.push(tmpNode);
                    }
                }
            },
            btnClick:function () {
                if(this.btnShowMode === 0){
                    if(this.deviceShowMode === 2){
                        this.btnShowMode = 2;
                    }else{
                        this.btnShowMode = 1;
                    }
                }else{
                    this.btnShowMode = 0;
                }
            },
            deviceClick:function (num) {
                if(this.deviceShowMode === 0){
                    this.deviceShowMode = 1;
                    this.cityIndex = num;
                    this.navClick(num);
                }else{
                    this.deviceShowMode = 2;
                    this.courtIndex = num;
                }
            },
            showButton:function (curMode) {
                if(curMode === this.btnShowMode){
                    return true;
                }else{
                    return false;
                }
            },
            showNav:function (curMode) {
                if(curMode <= this.deviceShowMode){
                    return true;
                }else{
                    return false;
                }
            },
            showMode:function (curMode) {
                if(curMode === this.deviceShowMode || (curMode === 0 && this.deviceShowMode === 1)){
                    return true;
                }else{
                    return false;
                }
            }
        },
        components:{
            'device-item':deviceItem
        }
    });
</script>
<style>
    span.site-item {
        background: url('lib/img/city-dark.png') no-repeat;
        background-size: 7rem 5.1rem;
        background-position: 0 0.5rem;
    }
    span.site-item:hover{
        cursor: pointer;
        background: url('lib/img/city-light.png') no-repeat;
        background-size: 7rem 5.1rem;
        background-position: 0 0.5rem;
    }
    span.site-item-icon {
        background: url("lib/img/close-dark.png") no-repeat;
        background-size:cover;
    }
    span.site-item-icon:hover {
        background: url("lib/img/close-light.png") no-repeat;
        background-size: cover;
    }
    span.site-item-add{

        margin-left: 2rem;
        background: url("lib/img/add-dark.png") no-repeat center;
        background-size: 5rem 5rem;
    }

    span.site-item-add:hover{
        cursor: pointer;
        background: url("lib/img/add-light.png") no-repeat center;
        background-size: 5rem 5rem;
    }
</style>
</html>