<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<script type="text/javascript" src="lib/layui/layui.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/axios.min.js"></script>
<script type="text/javascript" src="lib/js/lodash.js"></script>
<script type="text/javascript" src="lib/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="lib/zTree_v3/js/jquery.ztree.all.min.js"></script>
<link rel="stylesheet" href="lib/face-register.css">
<script>
    var ws = null;
    layui.config({
        base:'lib/js/'
    }).use('face-register');
</script>
<head>
    <link href="lib/zTree_v3/css/metroStyle/metroStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>视频监控-人脸注册</title>
</head>
<body>
<div id="nav" class="frs-nav">
    <label>主界面</label>
    <label class="current">人脸注册</label>
    <label>统计查询</label>
    <label>设备管理</label>
    <label>系统配置</label>
</div>
<div class="frs-device" id="deviceList">
    <div class="search">
        <p>设备列表</p>
        <div>
            <input v-model="value" title="device-query">
        </div>
    </div>
    <div class="separate">
        <div class="parallelogram">
            <label>勾选后请在右侧列表进行注册</label>
        </div>
        <label v-on:click="revertCheck">反选</label>
        <label v-on:click="allCheck">全选</label>
    </div>
    <div class="device-tree">
        <ul id="deviceTree" class="ztree"></ul>
    </div>
</div>
<div class="hit-record">
    <table id="record-table" >
        <span class="span-search"><img src="lib/img/search.png"></span>
        <thead>
        <tr>
            <th>姓名</th>
            <th>类别</th>
            <th>证件号</th>
            <th>注册时间</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(record,index) in pageRecords" :key="index">
            <template>
                <td :style="styleObject(index)">{{record.name}}</td>
                <td :style="styleObject(index)">{{record.type}}</td>
                <td :style="styleObject(index)">{{record.number}}</td>
                <td :style="styleObject(index)">{{record.time}}</td>
            </template>
        </tr>
        </tbody>
    </table>
    <div id="laypager"></div>
</div>


<div class="face-reg" id="face-reg">
    <div class="multi-reg">
        <label>批量注册</label>
        <select v-model="multiType" title="multi-type">
            <option>白名单</option>
            <option>黑名单</option>
        </select>
        <button v-on:click="multiImages">选择多张图片</button>
        <input type="file" id="multi-upload" multiple="multiple" style="display: none"/>
        <button v-on:click="multiSubmit">注册</button>
        <label>{{multiType}}</label>
    </div>
    <div class="single-reg" >
        <input type="file" style="display: none" id="single-upload" v-on:change="imgPreview"/>
        <label class="single-title">单张注册</label>
        <div class="single-image">
            <div>
                <img src="lib/img/ironman.jpg" v-on:click="singleImage" id="single-image">
            </div>
            <label>点击图片修改或添加</label>
        </div>
        <div class="single-info">
            <div>
                <label>姓名</label> <br>
                <input type="text" v-model="name">
            </div>
            <div>
                <label>性别</label> <br>
                <input type="text" v-model="gender">
            </div>
            <div>
                <label>类别</label> <br>
                <input type="text" v-model="type">
            </div>
            <div>
                <label>证件号</label> <br>
                <input type="text" v-model="number">
            </div>
            <div>
                <label>地址</label> <br>
                <input type="text" v-model="address">
            </div>
            <div>
                <label>备注</label> <br>
                <input type="text" v-model="remark">
            </div>
            <div>
                <button v-on:click="singleSubmit">注册</button>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    var deviceList=new Vue({
        el:"#deviceList",
        data:{
            value:"",
            setting:{
                edit:{
                    enable:true
                },
                check:{
                    enable: true,
                    chkStyle: "checkbox",
                    chkboxType: { "Y": "", "N": "" }
                },
                view:{
                    showIcon:false,
                    showLine:false,
                    fontCss: getFontCss
                },
                callback: {
                    //onDrop:dragToPlay
                }
            },
            deviceNodes:[
                { name:"喀什",
                    children: [
                        { name:"阳光小区 （1861人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01",
                                            ip:"rtsp://admin:admin12345@10.141.5.141:554/mpeg4"
                                        },
                                        {name:"Camera02",
                                            ip:"rtsp://admin:admin12345@10.141.5.142:554/mpeg4"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        },
                        { name:"惠民小区 （133人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01"},
                                        {name:"Camera02"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        }
                    ]},
                { name:"父节点2 - 折叠",
                    children: [
                        { name:"父节点21 - 展开",
                            children: [
                                { name:"叶子节点211"},
                                { name:"叶子节点212"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点214"}
                            ]},
                        { name:"父节点22 - 折叠",
                            children: [
                                { name:"叶子节点221"},
                                { name:"叶子节点222"},
                                { name:"叶子节点223"},
                                { name:"叶子节点224"}
                            ]},
                        { name:"父节点23 - 折叠",
                            children: [
                                { name:"叶子节点231"},
                                { name:"叶子节点232"},
                                { name:"叶子节点233"},
                                { name:"叶子节点234"}
                            ]}
                    ]},
                { name:"父节点3 - 没有子节点", isParent:true}
            ],
            preNodeList:null,
            allChecked:false
        },
        watch:{
            value: function (newValue) {
                var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                zTree.expandAll(false);
                this.searchNode(newValue);
            }
        },
        methods: {
            searchNode:_.debounce(
                function (newValue) {
                    if (newValue === "") {
                        return;
                    }
                    var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                    var nodeList = zTree.getNodesByParamFuzzy("name", newValue);
                    if (nodeList.length > 0) {
                        if (this.preNodeList === null) {
                            this.preNodeList = nodeList;

                        } else {
                            for (var i = 0; i < this.preNodeList.length; i++) {
                                this.preNodeList[i].highlight = false;
                                zTree.updateNode(this.preNodeList[i]);
                            }
                            this.preNodeList = nodeList;
                        }
                        for (var i = 0; i < nodeList.length; i++) {
                            nodeList[i].highlight = true;
                            zTree.updateNode(nodeList[i]);
                            if (!nodeList[i].isParent) {
                                zTree.expandNode(nodeList[i].getParentNode(), true, false, true);
                            } else {
                                zTree.expandNode(nodeList[i], true, false, true);
                            }
                        }

                    }
                }, 300
            ),
            revertCheck:function () {
                var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                var allNodes = zTree.transformToArray(zTree.getNodes());
                for(var i = 0;i < allNodes.length;i++){
                    zTree.checkNode(allNodes[i]);
                }
            },
            allCheck:function () {
                var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                this.allChecked = !this.allChecked;
                zTree.checkAllNodes(this.allChecked);
            }
        }
    });

    function getFontCss(treeId, treeNode) {
        return (!!treeNode.highlight) ? {color:"#2fbb3e", "font-weight":"bold"} : {color:"#2fbb3e", "font-weight":"normal"};
    }

    $(document).ready(function(){
        $.fn.zTree.init($("#deviceTree"), deviceList.setting, deviceList.deviceNodes);
    });

    var recordTable=new Vue({
        el:"#record-table",
        data:{
            curPage: 0,
            newRecord:{
                name:"\0",
                type:"",
                number:"",
                time:"",
                address:""
            },
            records:[
                {
                    name:"爱立托木买买提题雨哦木老爱丽木么么哒",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"李亚民",
                    type:"白名单",
                    number:"210120198211073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-惠民小区-设备1-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"黑名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                }


            ]
        },
        computed:{
            pageRecords:function () {
                var start=this.curPage * 25;
                var end = (start + 25) > this.records.length ? (this.records.length) : (start + 25);
                var result = this.records.slice(start, end);
                while(result.length < 25){
                    result.push(this.newRecord);
                }
                return result;
            }
        },
        methods:{
            styleObject:function (index) {
                if(this.pageRecords[index].type==="黑名单"){
                    return {
                        color:"red"
                    };
                }else if(this.pageRecords[index].name==="\0"){
                    if(index%2===0){
                        return {
                            color: "#0a0f0b"
                        }
                    }else{
                        return{
                            color:"#141e16"
                        }
                    }

                }else{
                    return "";
                }
            },
            addRecord:function (name,type,number,time,address) {
                this.newRecord.name = name;
                this.newRecord.type = type;
                this.newRecord.number = number;
                this.newRecord.time = time;
                this.newRecord.address = address;

                this.records.push(this.newRecord);

                this.newRecord = {
                    name: "\0",
                    type: "",
                    number: "",
                    time: "",
                    address: ""
                };
            }
        }
    });

    var faceReg = new Vue({
        el:"#face-reg",
        data:{
            multiType:"白名单",
            name:"",
            gender:"",
            type:"",
            number:"",
            address:"",
            remark:""
        },
        methods:{
            multiImages:function () {
                document.getElementById("multi-upload").click();
            },
            singleImage:function (){
                document.getElementById("single-upload").click();
            },
            imgPreview:function (e) {
                var img = document.getElementById("single-upload").files[0];
                var imageType = /image.*/;
                if(!img.type.match(imageType)){
                    layer.msg("请选择图片！");
                    document.getElementById("single-upload").value='';
                    return;
                }
                var reader = new FileReader();
                reader.onload = (function (file) {
                    return function (e) {
                        document.getElementById("single-image").src = reader.result;
                    };
                })(img);
                reader.readAsDataURL(img);
            },
            multiSubmit:function () {
                var images = document.getElementById("multi-upload").files;
                if(images === undefined || images === null){
                    layer.alert('请选择人脸图片！',{
                        icon: 2,
                        title:'上传失败'
                    });
                    return;
                }

                if(images.length === 0){
                    layer.alert('请选择人脸图片！',{
                        icon: 2,
                        title:'上传失败'
                    });
                    document.getElementById("multi-upload").value = '';
                    return;
                }
                var formData = new FormData();
                var success = 0;
                var imageType = /image.*/;
                for(var i = 0;i < images.length;i++){
                    if(images[i].type.match(imageType)){
                        formData.append('image' + success,images[i]);
                        success++;
                    }
                }
                formData.append('number',success);
                formData.append('type',this.multiType);

                document.getElementById("multi-upload").value = '';
                axios({
                    method: 'post',
                    url: '/user/12345',
                    responseType:'json',
                    data: formData,
                    headers: {
                        'X-File-Name': 'multi-images',
                        'Content-Type': 'multipart/form-data'
                       // 'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                    .then(function (response) {
                        layer.msg('成功上传图片 '+success+' 张, 失败 ' + (images.length - success) + " 张");
                    })
                    .catch(function (error) {

                    });
            },
            singleSubmit:function (event) {
                var img = document.getElementById("single-upload").files[0];
                var imageType = /image.*/;
                if(typeof(img) === "undefined" || typeof(img) ==="null"){
                    layer.alert('请选择人脸图片！',{
                        icon: 2,
                        title:'上传失败'
                    });
                    return;
                }
                if(!img.type.match(imageType)){
                    layer.alert('请选择人脸图片！',{
                        icon: 2,
                        title:'上传失败'
                    });
                    return;
                }
                if(faceReg.type !== "白名单" || faceReg.type !== "黑名单"){
                    layer.msg('类别填写错误，请重新填写！');
                    faceReg.type = "";
                    return;
                }
                var formData = new FormData();
                formData.append("image",img);
                formData.append("name",faceReg.name);
                formData.append("gender",faceReg.gender);
                formData.append("type",faceReg.type);
                formData.append("passportNumber",faceReg.number);
                formData.append("address",faceReg.address);
                formData.append("remark",faceReg.remark);
                axios({
                    method: 'post',
                    url: '/user/12345',
                    responseType:'json',
                    data: formData,
                    headers: {
                        'X-File-Name': 'single-image',
                        'Content-Type': 'multipart/form-data'
                        // 'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                    .then(function (response) {
                        layer.msg('注册成功！');
                        faceReg.name = "";
                        faceReg.gender = "";
                        faceReg.type = "";
                        faceReg.number = "";
                        faceReg.address = "";
                        faceReg.remark = "";
                        document.getElementById("single-image").src = "lib/img/ironman.jpg";
                        document.getElementById("single-upload").value = '';
                    })
                    .catch(function (error) {

                    });
            }
        }
    })
</script>
</html>