<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<script type="text/javascript" src="lib/layui/layui.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/axios.min.js"></script>
<script type="text/javascript" src="lib/js/lodash.js"></script>
<script type="text/javascript" src="lib/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="lib/zTree_v3/js/jquery.ztree.all.min.js"></script>
<link rel="stylesheet" href="lib/face-register.css">
<script>
    let ws = null;
    layui.config({
        base:'lib/js/'
    }).use('face-register');
</script>
<head>
    <link href="lib/zTree_v3/css/metroStyle/metroStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>视频监控-人脸注册</title>
</head>
<body>
<div id="nav" class="frs-nav">
    <label>主界面</label>
    <label class="current">人脸注册</label>
    <label>统计查询</label>
    <label>设备管理</label>
    <label>系统配置</label>
</div>
<div class="frs-device" id="deviceList">
    <div class="search">
        <p>设备列表</p>
        <div>
            <input v-model="value" title="device-query">
        </div>
    </div>
    <div class="separate">
        <div class="parallelogram">
            <label>勾选后请在右侧列表进行注册</label>
        </div>
        <label v-on:click="revertCheck">反选</label>
        <label v-on:click="allCheck">全选</label>
    </div>
    <div class="device-tree">
        <ul id="deviceTree" class="ztree"></ul>
    </div>
</div>
<div class="hit-record">
    <table id="record-table" >
        <span class="span-search"><img src="lib/img/search.png"></span>
        <thead>
        <tr>
            <th>姓名</th>
            <th>类别</th>
            <th>证件号</th>
            <th>注册时间</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(record,index) in pageRecords" :key="index">
            <template>
                <td :style="styleObject(index)">{{record.name}}</td>
                <td :style="styleObject(index)">{{record.type}}</td>
                <td :style="styleObject(index)">{{record.number}}</td>
                <td :style="styleObject(index)">{{record.time}}</td>
            </template>
        </tr>
        </tbody>
    </table>
    <div id="laypager"></div>
</div>


<div class="face-reg" id="face-reg">
    <div class="multi-reg">
        <label>批量注册</label>
        <select v-model="multiType" title="multi-type">
            <option>白名单</option>
            <option>黑名单</option>
        </select>
        <button v-on:click="multiImages">选择多张图片</button>
        <input type="file" id="multi-upload" multiple="multiple" style="display: none"/>
        <button v-on:click="multiSubmit">注册</button>
        <label>{{multiType}}</label>
    </div>
    <div class="single-reg" >
        <input type="file" style="display: none" id="single-upload" v-on:change="imgPreview"/>
        <label class="single-title">单张注册</label>
        <div class="single-image">
            <div>
                <img src="lib/img/ironman.jpg" v-on:click="singleImage" id="single-image">
            </div>
            <label>点击图片修改或添加</label>
        </div>
        <div class="single-info">
            <div>
                <label>姓名</label> <br>
                <input type="text" v-model="name">
            </div>
            <div>
                <label>性别</label> <br>
                <input type="text" v-model="gender">
            </div>
            <div>
                <label>类别</label> <br>
                <input type="text" v-model="type">
            </div>
            <div>
                <label>证件号</label> <br>
                <input type="text" v-model="number">
            </div>
            <div>
                <label>地址</label> <br>
                <input type="text" v-model="address">
            </div>
            <div>
                <label>备注</label> <br>
                <input type="text" v-model="remark">
            </div>
            <div>
                <button v-on:click="singleSubmit">注册</button>
            </div>
        </div>
    </div>
</div>


</body>

</html>