<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns = "http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1">
<link href="lib/zTree_v3/css/metroStyle/metroStyle.css" rel="stylesheet">
<link rel="stylesheet" href="lib/layui/css/layui.css">
<script type="text/javascript" src="lib/layui/layui.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/axios.min.js"></script>
<script type="text/javascript" src="lib/js/lodash.js"></script>
<script type="text/javascript" src="lib/zTree_v3/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="lib/zTree_v3/js/jquery.ztree.all.min.js"></script>
<link rel="stylesheet" href="lib/statistics-query.css">
<script>
    var ws = null;
    layui.config({
        base:'lib/js/'
    }).use('statistics-query');
</script>
<head>
    <meta charset="UTF-8">
    <title>视频监控-统计查询</title>
</head>
<body>
<div id="nav" class="frs-nav">
    <label>主界面</label>
    <label>人脸注册</label>
    <label class="current">统计查询</label>
    <label>设备管理</label>
    <label>系统配置</label>
</div>
<div class="frs-device" id="deviceList">
    <div class="search">
        <p>设备列表</p>
        <div>
            <input v-model="value">
        </div>
    </div>
    <div class="separate">
        <div class="parallelogram">
            <label>勾选后请在右侧列表进行注册</label>
        </div>
        <label v-on:click="revertCheck">反选</label>
        <label v-on:click="allCheck">全选</label>
    </div>
    <div class="device-tree">
        <ul id="deviceTree" class="ztree"></ul>
    </div>
</div>
<div class="frs-query">
    <div class="query-condition" id="query-condition">
        <div>
            <label>类别</label>
            <select v-model="type">
                <option>白名单</option>
                <option>黑名单</option>
            </select>
            <label>识别结果</label>
            <select v-model="result">
                <option>已识别</option>
                <option>未识别</option>
            </select>
            <label>姓名</label>
            <input v-model="name"/>
            <button>提交搜索</button>
        </div>
        <div>
            <label>起始时间</label>
            <div class="time-start">
                <input v-model="startTime.year"/>
                <span>-</span>
                <input v-model="startTime.month"/>
                <span>-</span>
                <input v-model="startTime.day"/>

                <input v-model="startTime.hour"/>
                <span>:</span>
                <input v-model="startTime.minute"/>
            </div>
            <label>结束时间</label>
            <div class="time-end">
                <input v-model="endTime.year"/>
                <span>-</span>
                <input v-model="endTime.month"/>
                <span>-</span>
                <input v-model="endTime.day"/>

                <input v-model="endTime.hour"/>
                <span>:</span>
                <input v-model="endTime.minute"/>
            </div>
            <div>
                <label>证件号</label>
                <input v-model="passportNumber"/>
                <button>重置搜索</button>
            </div>
        </div>
    </div>
    <div class="query-table">
        <table id="record-table" >
            <thead>
            <tr>
                <th>姓名</th>
                <th>类别</th>
                <th>证件号</th>
                <th>注册时间</th>
                <th>地址</th>
                <th><button>清空</button></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(record,index) in pageRecords" :key="index">
                <template>
                    <td :style="styleObject(index)">{{record.name}}</td>
                    <td :style="styleObject(index)">{{record.type}}</td>
                    <td :style="styleObject(index)">{{record.number}}</td>
                    <td :style="styleObject(index)">{{record.time}}</td>
                    <td :style="styleObject(index)">{{record.address}}</td>
                    <td><a v-if="!(record.name == '\0')">删除</a></td>
                </template>
            </tr>
            </tbody>
        </table>
        <div id="laypager"></div>
    </div>
</div>
</body>
<script>
    var deviceList=new Vue({
        el:"#deviceList",
        data:{
            value:"",
            setting:{
                edit:{
                    enable:true
                },
                check:{
                    enable: true,
                    chkStyle: "checkbox",
                    chkboxType: { "Y": "", "N": "" }
                },
                view:{
                    showIcon:false,
                    showLine:false,
                    fontCss: getFontCss
                },
                callback: {
                    //onDrop:dragToPlay
                }
            },
            zNodes:[
                { name:"喀什",
                    children: [
                        { name:"阳光小区 （1861人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01",
                                            ip:"rtsp://admin:admin12345@10.141.5.141:554/mpeg4"
                                        },
                                        {name:"Camera02",
                                            ip:"rtsp://admin:admin12345@10.141.5.142:554/mpeg4"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        },
                        { name:"惠民小区 （133人）",
                            children: [
                                { name:"设备1",
                                    children:[
                                        {name:"Camera01"},
                                        {name:"Camera02"}
                                    ]
                                },
                                { name:"设备2",
                                    children:[
                                        {name:"Camera03"},
                                        {name:"Camera04"}
                                    ]
                                },
                                { name:"设备3",
                                    children:[
                                        {name:"Camera05"},
                                        {name:"Camera06"}
                                    ]
                                },
                                { name:"设备4",
                                    children:[
                                        {name:"Camera07"},
                                        {name:"Camera08"}
                                    ]
                                }
                            ]
                        }
                    ]},
                { name:"父节点2 - 折叠",
                    children: [
                        { name:"父节点21 - 展开",
                            children: [
                                { name:"叶子节点211"},
                                { name:"叶子节点212"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点213"},
                                { name:"叶子节点214"}
                            ]},
                        { name:"父节点22 - 折叠",
                            children: [
                                { name:"叶子节点221"},
                                { name:"叶子节点222"},
                                { name:"叶子节点223"},
                                { name:"叶子节点224"}
                            ]},
                        { name:"父节点23 - 折叠",
                            children: [
                                { name:"叶子节点231"},
                                { name:"叶子节点232"},
                                { name:"叶子节点233"},
                                { name:"叶子节点234"}
                            ]}
                    ]},
                { name:"父节点3 - 没有子节点", isParent:true}
            ],
            preNodeList:null,
            allChecked:false
        },
        watch:{
            value: function (newValue) {
                var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                zTree.expandAll(false);
                this.searchNode(newValue);
            }
        },
        methods: {
            searchNode:_.debounce(
                function (newValue) {
                    if (newValue === "") {
                        return;
                    }
                    var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                    var nodeList = zTree.getNodesByParamFuzzy("name", newValue);
                    if (nodeList.length > 0) {
                        if (this.preNodeList === null) {
                            this.preNodeList = nodeList;

                        } else {
                            for (var i = 0; i < this.preNodeList.length; i++) {
                                this.preNodeList[i].highlight = false;
                                zTree.updateNode(this.preNodeList[i]);
                            }
                            this.preNodeList = nodeList;
                        }
                        for (var i = 0; i < nodeList.length; i++) {
                            nodeList[i].highlight = true;
                            zTree.updateNode(nodeList[i]);
                            if (!nodeList[i].isParent) {
                                zTree.expandNode(nodeList[i].getParentNode(), true, false, true);
                            } else {
                                zTree.expandNode(nodeList[i], true, false, true);
                            }
                        }

                    }
                }, 300
            ),
            revertCheck:function () {
                var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                var allNodes = zTree.transformToArray(zTree.getNodes());
                for(var i = 0;i < allNodes.length;i++){
                    zTree.checkNode(allNodes[i]);
                }
            },
            allCheck:function () {
                var zTree = $.fn.zTree.getZTreeObj("deviceTree");
                this.allChecked = !this.allChecked;
                zTree.checkAllNodes(this.allChecked);
            }
        }
    });

    function getFontCss(treeId, treeNode) {
        return (!!treeNode.highlight) ? {color:"#2fbb3e", "font-weight":"bold"} : {color:"#2fbb3e", "font-weight":"normal"};
    }

    $(document).ready(function(){
        $.fn.zTree.init($("#deviceTree"), deviceList.setting, deviceList.zNodes);
    });

    var queryCondition = new Vue({
        el:"#query-condition",
        data:{
            type:"白名单",
            result:"已识别",
            name:"",
            startTime:{
                year:"",
                month:"",
                day:"",
                hour:"",
                minute:""
            },
            endTime:{
                year:"",
                month:"",
                day:"",
                hour:"",
                minute:""
            },
            passportNumber:""
        }
    });

    var recordTable=new Vue({
        el:"#record-table",
        data:{
            curPage: 0,
            newRecord:{
                name:"\0",
                type:"",
                number:"",
                time:"",
                address:""
            },
            records:[
                {
                    name:"爱立托木买买提题雨哦木老爱丽木么么哒",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"李亚民",
                    type:"白名单",
                    number:"210120198211073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-惠民小区-设备1-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托木买买提",
                    type:"黑名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },{
                    name:"爱立托买买提",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                },
                {
                    name:"爱立托木",
                    type:"白名单",
                    number:"210120196302073592",
                    time:"2017-01-20 13:23",
                    address:"乌鲁木齐-阳光小区-设备12-Camera01"
                }


            ]
        },
        computed:{
            pageRecords:function () {
                var start=this.curPage * 20;
                var end = (start + 20) > this.records.length ? (this.records.length) : (start + 20);
                var result = this.records.slice(start, end);
                while(result.length < 20){
                    result.push(this.newRecord);
                }
                return result;
            }
        },
        methods:{
            styleObject:function (index) {
                if(this.pageRecords[index].type==="黑名单"){
                    return {
                        color:"red"
                    };
                }else if(this.pageRecords[index].name==="\0"){
                    if(index%2===0){
                        return {
                            color: "#0a0f0b"
                        }
                    }else{
                        return{
                            color:"#141e16"
                        }
                    }

                }else{
                    return "";
                }
            },
            addRecord:function (name,type,number,time,address) {
                this.newRecord.name = name;
                this.newRecord.type = type;
                this.newRecord.number = number;
                this.newRecord.time = time;
                this.newRecord.address = address;

                this.records.push(this.newRecord);

                this.newRecord = {
                    name: "\0",
                    type: "",
                    number: "",
                    time: "",
                    address: ""
                };
            }
        }
    })
</script>
</html>