//Created by Viking on 2017/5/21.
doctype html
html(lang='en')
    head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title anisd
    body
    p #{name} 's Pug Source Code!
    p what happend
script
    :babel
        console.log("Hello World !!!");
        class Person {
          constructor(name) {
            this.name = name;
          }
          sayName(){
            console.log(`Hello, my name is ${this.name}`);
          }
        }
        var person = new Person("Apoxx");
        person.sayName();