<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns = "http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<script type="text/javascript" src="lib/js/es6-promise.auto.min.js"></script>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/axios.min.js"></script>
<script type="text/javascript" src="lib/js/lodash.min.js"></script>
<script type="text/javascript" src="lib/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="lib/layui/lay/dest/layui.all.js"></script>
<script type="text/javascript" src="lib/zTree_v3/js/jquery.ztree.all.min.js"></script>
<link rel="stylesheet" href="lib/css/device-manage.css">
<script>
    let ws = null;
    layui.config({
        base:'lib/js/'
    }).use('device-manage');
</script>

<head>
    <title>视频监控-设备管理</title>
</head>
<body>
<div id="nav" class="frs-nav">
    <label onclick="window.location.href='index.html';">主界面</label>
    <label onclick="window.location.href='face-register.html';">人脸注册</label>
    <label onclick="window.location.href='statistics-query.html';">统计查询</label>
    <label class="current" onclick="window.location.href='device-manage.html';">设备管理</label>
    <label onclick="window.location.href='system-config.html';">系统配置</label>
</div>
<div class="frs-device" id="deviceList">
    <div class="search">
        <p>设备列表</p>
        <div>
            <input v-model="value">
        </div>
    </div>
    <div class="device-tree">
        <ul id="deviceTree" class="ztree"></ul>
    </div>
</div>
<div class="frs-device-manage" id="device-manage">
    <div class="device-nav">
        <span @click="navClick(-1)"><p>Home</p></span>
        <span v-show="deviceShowMode === 1" @click="navClick(cityIndex)"><p>{{deviceNodes[cityIndex].name}}</p></span>

        <div class="device-nav-btn">
            <transition name="nav-btn" mode="in-out">
                <template v-if="showButton(0)">
                    <button v-on:click="btnClick"><img src="lib/img/cogwheel.png">管理设备</button>
                </template>
                <template v-if="showButton(1)">
                    <button v-on:click="btnClick">应用</button>
                </template>
                <template v-if="showButton(2)">
                    <button v-on:click="addDevice"><img src="lib/img/plus.png">添加设备</button>
                </template>
            </transition>
        </div>


    </div>
    <div class="device-site" v-if="deviceShowMode === 0" >
        <site-item :item="node" :mode="btnShowMode" v-for="(node,index) in deviceNodes" :key="index" v-on:change-interface="siteClick(index)" @delete-item="deleteItem(index)"></site-item>
        <span class="site-item site-item-add" @click="addItem">

        </span>

    </div>
    <div class="device-camera" v-else>
        <div class="camera-title">
            <span>设备名称</span>
            <span>ID</span>
            <span>摄像机品牌</span>
            <span>IP地址</span>
            <span>端口号</span>
            <span>用户名</span>
            <span>密码</span>
            <span>实时流</span>
            <span>网络延时</span>
            <span>工作状态</span>
        </div>
        <div class="camera-list">
            <device-item v-for="(deviceNode,index) in deviceNodes[cityIndex].children" :device-node = "deviceNode" :key="index"  :parent-index="index" @delete-device="deleteItem(index)" @change-device="changeDevice(index)" @add-camera="addCamera(index)" @change-camera="changeCamera" @delete-camera="deleteCamera" ></device-item>
        </div>
    </div>
</div>
</body>
<div class="device-process" id="device-process" v-show="showThis">
    <span class="close-icon" @click="closeThis"></span>
    <p>{{mode}}</p>
    <label>设备名称</label>
    <input v-model="newDevice.name">
    <label>IP地址</label>
    <input v-model="newDevice.ip">
    <label>数据库用户名</label>
    <input v-model="newDevice.username">
    <label>数据库密码</label>
    <input v-model="newDevice.pwd">
    <label>工作状态</label>
    <span class="select-item">
      <label @click="showSelectStates = !showSelectStates">{{newDevice.state}}</label>
        <span class="select-node" v-show="showSelectStates">
        <label v-for="(state,index) in selectStates" :key="index" @click="selectState(index)">{{state}}</label>
        </span>
    </span>
    <button @click="doDeviceProcess">确定</button>
</div>

<div class="camera-process" id="camera-process" v-show="showThis">
    <span class="close-icon" @click="closeThis"></span>
    <p>{{mode}}</p>
    <label>摄像机名称</label>
    <input v-model="newCamera.name">
    <label>摄像机品牌</label>
    <input v-model="newCamera.brand">
    <label>IP地址</label>
    <input v-model="newCamera.ip">
    <label>端口号</label>
    <input v-model="newCamera.port">
    <label>用户名</label>
    <input v-model="newCamera.username">
    <label>密码</label>
    <input v-model="newCamera.pwd">
    <label>实时流</label>
    <input v-model="newCamera.stream">
    <label>网络延时</label>
    <input v-model="newCamera.delay">
    <label>工作状态</label>
    <span class="select-item">
      <label @click="showSelectStates = !showSelectStates">{{newCamera.state}}</label>
        <span class="select-node" v-show="showSelectStates">
        <label v-for="(state,index) in selectStates" :key="index" @click="selectState(index)">{{state}}</label>
        </span>
    </span>
    <button @click="doCameraProcess">确定</button>
</div>

</html>