<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1">
    <title>视频监控-人脸注册</title>
    <script type="text/javascript" src="lib/js/es6-promise.auto.min.js"></script>
    <script type="text/javascript" src="lib/layui/lay/dest/layui.all.js"></script>
    <script type="text/javascript" src="lib/js/vue.min.js"></script>
    <script type="text/javascript" src="lib/js/axios.min.js"></script>
    <script type="text/javascript" src="lib/js/lodash.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="lib/zTree_v3/js/jquery.ztree.all.min.js"></script>
    <link rel="stylesheet" href="lib/css/face-register.css">
    <script>
        layui.config({
            base:'lib/js/'
        }).use('face-register');
    </script>
</head>
<body>
<div id="nav" class="frs-nav">
    <label onclick="window.location.href='index.html';">主界面</label>
    <label class="current" onclick="window.location.href='face-register.html';">人脸注册</label>
    <label onclick="window.location.href='statistics-query.html';">统计查询</label>
    <label onclick="window.location.href='device-manage.html';">设备管理</label>
    <label onclick="window.location.href='system-config.html';">系统配置</label>
</div>
<div class="frs-device" id="device-list">
    <div class="search">
        <p>设备列表</p>
        <div>
            <input v-model="value" title="device-query">
        </div>
    </div>
    <div class="separate">
        <div class="parallelogram">
            <label>勾选后请在右侧列表进行注册</label>
        </div>
        <label v-on:click="revertCheck">反选</label>
        <label v-on:click="allCheck">全选</label>
    </div>
    <div class="device-tree">
        <ul id="deviceTree" class="ztree"></ul>
    </div>
</div>
<div class="hit-record">
    <table id="record-table" >
        <span class="span-search" onclick="window.location.href='statistics-query.html';"><img src="lib/img/search.png"></span>
        <thead>
        <tr>
            <th>姓名</th>
            <th>类别</th>
            <th>证件号</th>
            <th>注册时间</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(record,index) in pageRecords" :key="index">
            <template>
                <td :style="styleObject(index)">{{record.name}}</td>
                <td :style="styleObject(index)">{{record.type}}</td>
                <td :style="styleObject(index)">{{record.number}}</td>
                <td :style="styleObject(index)">{{record.time}}</td>
            </template>
        </tr>
        </tbody>
    </table>
    <div id="laypager"></div>
</div>

<div class="face-reg" id="face-reg">
    <div class="multi-reg">
        <label>批量注册</label>
        <span class="select-item">
            <label @click="selectNodeShow('selectTypes')">{{selectTypes.type}}</label>
            <span class="select-node" v-show="selectTypes.isShow">
                <label v-for="(type,index) in selectTypes.data" :key="index" @click="selectItem('selectTypes',type)">{{type}}</label>
            </span>
        </span>
        <button v-on:click="multiImages">选择多张图片</button>
        <input type="file" id="multi-upload" multiple="multiple" style="display: none"/>
        <button v-on:click="multiSubmit">注册</button>
        <span class="multi-progress">
            <span v-for="n in 40" :key="n" :style="progressStyle(n)"></span>
        </span>
    </div>
    <div class="single-reg" >
        <input type="file" style="display: none" id="single-upload" v-on:change="imgPreview"/>
        <label class="single-title">单张注册</label>
        <div class="single-image">
            <div>
                <img src="lib/img/ironman.jpg" v-on:click="singleImage" id="single-image">
            </div>
            <label>点击图片修改或添加</label>
        </div>
        <div class="single-info">
            <div>
                <label>姓名</label> <br>
                <input type="text" v-model="name">
            </div>
            <div>
                <label>性别</label> <br>
                <input type="text" v-model="gender">
            </div>
            <div>
                <label>类别</label> <br>
                <input type="text" v-model="type">
            </div>
            <div>
                <label>证件号</label> <br>
                <input type="text" v-model="number">
            </div>
            <div>
                <label>地址</label> <br>
                <input type="text" v-model="site">
            </div>
            <div>
                <label>备注</label> <br>
                <input type="text" v-model="remark">
            </div>
            <div>
                <button v-on:click="singleSubmit">注册</button>
            </div>
        </div>
    </div>
</div>


</body>

</html>