<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns = "http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1">
<script type="text/javascript" src="lib/js/es6-promise.auto.min.js"></script>
<script type="text/javascript" src="lib/layui/lay/dest/layui.all.js"></script>
<script type="text/javascript" src="lib/js/vue.min.js"></script>
<script type="text/javascript" src="lib/js/axios.min.js"></script>
<script type="text/javascript" src="lib/js/lodash.min.js"></script>
<script type="text/javascript" src="lib/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="lib/zTree_v3/js/jquery.ztree.all.min.js"></script>
<link rel="stylesheet" href="lib/statistics-query.css">
<script>
    layui.config({
        base:'lib/js/'
    }).use('statistics-query');
</script>
<head>
    <title>视频监控-统计查询</title>
</head>
<body>
<div id="nav" class="frs-nav">
    <label onclick="window.location.href='index.html';">主界面</label>
    <label onclick="window.location.href='face-register.html';">人脸注册</label>
    <label class="current"  onclick="window.location.href='statistics-query.html';">统计查询</label>
    <label onclick="window.location.href='device-manage.html';">设备管理</label>
    <label onclick="window.location.href='system-config.html';">系统配置</label>
</div>
<div class="frs-device" id="deviceList">
    <div class="search">
        <p>设备列表</p>
        <div>
            <input v-model="value">
        </div>
    </div>
    <div class="separate">
        <div class="parallelogram">
            <label>勾选后请在右侧列表进行注册</label>
        </div>
        <label v-on:click="revertCheck">反选</label>
        <label v-on:click="allCheck">全选</label>
    </div>
    <div class="device-tree">
        <ul id="deviceTree" class="ztree"></ul>
    </div>
</div>
<div class="frs-query">
    <div class="query-condition" id="query-condition">
        <div>
            <label>类别</label>
            <span class="select-item">
                <label @click="selectNodeShow('selectTypes')">{{selectTypes.type}}</label>
                <span class="select-node" v-show="selectTypes.isShow">
                    <label v-for="(type,index) in selectTypes.data" :key="index" @click="selectItem('selectTypes',type)">{{type}}</label>
                </span>
            </span>
            <label>识别结果</label>
            <span class="select-item">
                <label @click="selectNodeShow('selectResults')">{{selectResults.type}}</label>
                <span class="select-node" v-show="selectResults.isShow">
                    <label v-for="(type,index) in selectResults.data" :key="index" @click="selectItem('selectResults',type)">{{type}}</label>
                </span>
            </span>
            <label>姓名</label>
            <input v-model="name"/>
            <button v-on:click="querySubmit">提交搜索</button>
        </div>
        <div>
            <label>起始时间</label>
            <div class="time-start">
                <input v-model="startTime.year"/>
                <span>-</span>
                <input v-model="startTime.month"/>
                <span>-</span>
                <input v-model="startTime.day"/>

                <input v-model="startTime.hour"/>
                <span>:</span>
                <input v-model="startTime.minute"/>
            </div>
            <label>结束时间</label>
            <div class="time-end">
                <input v-model="endTime.year"/>
                <span>-</span>
                <input v-model="endTime.month"/>
                <span>-</span>
                <input v-model="endTime.day"/>

                <input v-model="endTime.hour"/>
                <span>:</span>
                <input v-model="endTime.minute"/>
            </div>
            <div>
                <label>证件号</label>
                <input v-model="passportNumber"/>
                <button v-on:click="queryReset">重置搜索</button>
            </div>
        </div>
    </div>
    <div class="query-table">
        <table id="record-table" >
            <thead>
            <tr>
                <th>姓名</th>
                <th>类别</th>
                <th>证件号</th>
                <th>注册时间</th>
                <th>地址</th>
                <th><button>清空</button></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(record,index) in pageRecords" :key="index">
                <template>
                    <td :style="styleObject(index)">{{record.name}}</td>
                    <td :style="styleObject(index)">{{record.type}}</td>
                    <td :style="styleObject(index)">{{record.number}}</td>
                    <td :style="styleObject(index)">{{record.time}}</td>
                    <td :style="styleObject(index)">{{record.site}}</td>
                    <td><a v-if="record.name !== '\0'">删除</a><span></span></td>
                </template>
            </tr>
            </tbody>
        </table>
        <div id="laypager"></div>
    </div>
</div>
</body>

</html>